@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    display: flex;
    flex-direction: column;

}
header {
    border-bottom: 1px solid black;
    width: 100%;
    background-color: white;
    position: sticky;
}
.input-group {
    display: inline-grid;
}
input {
    display: table-cell;
    vertical-align: middle;
    border: 1px solid grey;
}
button {
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 black;

}
.item {
    display: flex;
    flex-direction: column;
}
#purchase-form {
    display: inline-flex;
    flex-direction: column;
    gap: 18px;
}
input {
    border-radius: 4px;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid grey;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    width: 100% ;
    height: 100%;
    flex-shrink: 1;
    flex-wrap: wrap ;
    margin-bottom: auto;
}
.close {
    font-size: x-large;
    border: 1px solid black;
    height: fit-content;
    border-radius: 100%;
    padding: 6px;
}
.internal-modal {
    z-Index: 10;
    position: sticky;
    border: 1px solid black;
    background-Color: white;
}
.button-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.store {
    display: flex;
    flex-direction: column;
    background-color:inherit;
    padding: 20px;
    box-shadow: 0 0 4px black;
    border-radius: 24px;
    margin-right: auto;
    width: 525px;
    border-top: 53px solid #008236 ;

}
#purchase-form {
    display: inline-flex;
    flex-direction: column;
    gap: 18px;
}
input {
    display: table-cell;
    vertical-align: middle;
    border: 1px solid grey;
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    text-align: center;
    height: 223px;
    overflow: auto;

}
.shop-container {
    display: flex;
    align-self: center;
    gap: 10px;
    margin: auto;
}
#welcome {
    white-space: nowrap;
}
footer {
    background-color: #6F9689;
    text-align: center;
    font-weight: lighter;
    margin: 0;
    border-top: 3px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: static;
    bottom: 0;
}

@media  (min-width: 1100px){

    aside {
        padding: 5px;
        text-align: center;
        height: inherit;
        overflow-y: auto ;

    }
}

/*:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #262626;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  !*
  font-family: Arial, Helvetica, sans-serif;
  *!
}*/
